.memory {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	padding: 0.5rem;
}

.memory__cards-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.memory__card {
	font-size: 2rem;
	aspect-ratio: 3 / 4;
}

.memory__card--flipped {
	pointer-events: none;
}

.memory__card--disabled {
	pointer-events: none;
}

.memory__card-front img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.memory__card-front-back-container {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 40rem;
}

.memory__card-front,
.memory__card-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 0.5rem var(--tertiary-color);
	border-radius: 0.2rem;
	box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.398);
	backface-visibility: hidden;
	transition: transform 0.8s ease-in-out;
}

.memory__card-front {
	transform: rotateY(-180deg);
}

.memory__card-back {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	transform: rotateY(0deg);
}

.memory__card--flipped .memory__card-front {
	transform: rotateY(0deg);
}

.memory__card--flipped .memory__card-back {
	transform: rotateY(180deg);
}

.memory__button {
	background-color: var(--primary-color);
	border: solid 0.2rem #000;
	padding: 1rem 0.5rem;
}

.memory__button:hover,
.memory__button:active {
	background-color: var(--primary-color-darker);
}